*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #f8f9fa;
    
}

.container {
    color: white;
    padding: 300px 20px;
    text-align: center;
}

.img{
        height: 100vh;
        min-height: 600px;
        background-size: cover;
        background-position: center center;
}

.container h1 {
    font-size: 36px;
    font-weight: bold;
}

.container p{
    font-size: 18px;
    margin-left: 320px;
    padding-left: 80px;
    padding-top: 20px;
    width: 800px;
}

.colorscheme {
    margin-top: 60px;
    
}

.sectiontitle {
    font-size: 32px;
    font-weight: bold;
    color: #343a40;
    text-align: left;
    margin-left: 300px;
}

.colorgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 420px;
    width: 60%;
    margin: 20px auto;
}

.colorbox {
    padding: 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.primary { background-color: #007bff; } 
.secondary { background-color: #6c757d; } 
.success { background-color: #28a745; } 
.info { background-color: #17a2b8; } 
.warning { background-color: #ffc107; } 
.danger { background-color: #dc3545; } 
.indigo { background-color: #6610f2; } 
.dark { background-color: #343a40; } 
.teal { background-color: #20c997; } 


